<div class="container">
  <div class="row">
    <div class="col">
      <%= cl_image_tag @flat.photo, height: 300, width: 400, crop: :fill %>
      <h2><%= @flat.title %></h2>
      <p><%= @flat.description %></p>
      <% if policy(@flat).update? %>
        <%= link_to "Modifier cet appartement", edit_flat_path(@flat) %>
      <% end %>

       <% if policy(@flat).destroy? %>
        <%= link_to "Supprimer cet appartement", flat_path(@flat),
        method: :delete,
        data: { confirm: "Are you sure?" }  %>
      <% end %>
      <%= link_to "Retour à tous les appartements", root_path %>

    </div>
  </div>
</div>
