<div class="container">
  <div class="row">
    <div class="col">
      <h1>Tous les appartements : </h1>
        <% @flats.each do |flat| %>
        <div class="card">
          <div class="card-img-top">
            <%= cl_image_tag flat.photo, height: 200, width: 600, crop: :fill %>
          </div>
          <div class="card-body">
            <div class="card-title">
              <%= flat.title %>
            </div>

            <div class="card-text">
              <%= flat.description %>
            </div>

            <div class="card-text">
              <%= link_to "Voir plus", flat_path(flat) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= link_to "Ajouter un nouvel appartement", new_flat_path %>
    </div>
  </div>
</div>
